.nav-link-custom {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
.nav-link-custom:hover,
.nav-link-custom:focus {
border-color: #007bff;
background-color: #f8f9fa;
}
  
.text-center {
    text-align: center;
  }
  .form-check-inline {
    margin-right: 5rem;
    margin-left: 5rem;
  }
